{% extends "layout.html" %}

{% block content %}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/workshop1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Vorward</h1>
                        <hr class="small">
                        <span class="subheading">Have you tried googling it?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>For maintenenace questions please contact {{maintName}} at {{maintEmail}}.</p>
                <p>What is HEMA?  Historical European Martial Arts (HEMA) academic study of ancient fight manuals or fechtbucher (fight-books) and the practice of recreating and learning the skills of the ancient European fight masters. 
                Tournaments offer a way for practioners to meet, take classes, and test their skills in the art of combat.</p>
                <p>Project Background:  This project grew from a recognizable need for better software in the HEMA community. 
                Maintaining fight records and tournament matches using Microsoft Excel and forms is slowing becoming a method of the past as interest in HEMA continues to grow.</p>
                <p>We are afliated with the <a href="{{alliance.url}}">{{alliance.name}}</a>, {{alliance.desc}} reachable at <a href="{{alliance.email}}">{{alliance.email}}</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
