{% extends "layout.html" %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('static/img/spar2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Create an Event</h1>
                    <hr class="small">
                    <span class="subheading">Make history.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
        <h2>Enter the event information:</h2>
        
        <form class="form-horizontal" method='POST' action="/events">
        
         <div class="form-group">
            <input type="hidden" name="formType" value="eventForm">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="event">Event Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="event" placeholder="Enter Event Name" maxlength="50" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="event">Date of Event:</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" name="date" required>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"class="btn btn-default pull-right">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
