{% extends "layout.html" %}

{% block content %}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/spar1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Vorward</h1>
                        <hr class="small">
                        <span class="subheading">Events are happening.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
       <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div>
            Welcome to Vorward, where we're always moving forward, planning the next tournament, event, and shindig.
        </div>
        <div class="post-preview">
            <a href="/about">
                <h2 class="post-title">
                    Learn more about who we are and what we support.
                </h2>
                <h3 class="post-subtitle">
                   We're crazy people with sharp objects.
                </h3>
            </a>
            <p class="post-meta">Posted by admin on September 24, 2014</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="/events">
                <h2 class="post-title">
                    Find more events to attend.
                </h2>
            </a>
            <p class="post-meta">Posted by admin on September 18, 2014</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="/contact">
                <h2 class="post-title">
                    Contact us for help, guidance, and sparring.
                </h2>
                <h3 class="post-subtitle">
                    Because this is all we do.
                </h3>
            </a>
            <p class="post-meta">Posted by admin on August 24, 2014</p>
        </div>
    </div>
        </div>
    </div>

{% endblock %}