{% extends "layout.html" %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('static/img/spar2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Create a Match</h1>
                    <hr class="small">
                    <span class="subheading">Start fighting.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
<h2><time>00:00:00</time></h2>
<button id="start">start</button>
<button id="stop">stop</button>
<button id="clear">clear</button>
<script>
    var h1 = document.getElementsByTagName('h2')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    seconds = 0, minutes = 0, hours = 0,
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
//timer();


/* Start button */
start.onclick = function () {
    timer();
}

/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
}

/* Clear button */
clear.onclick = function() {
    h1.textContent = "00:00:00";
    seconds = 0; minutes = 0; hours = 0;
}
</script>
    <form class="form-horizontal" method='POST' action="/events">
        <h2>Create a match:</h2>
         <div class="form-group">
            <input type="hidden" name="formType" value="matchForm">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fighter1">Fighter 1 Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fighter1" placeholder="Fighter 1" maxlength="50" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fighter2">Fighter 2 Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fighter2" placeholder="Fighter 2" maxlength="50" required>
            </div>
        </div>
         
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Tournament Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tournament" placeholder="Tournament Name" required>
            </div>
        </div>


        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
