{% extends "layout.html" %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('static/img/spar2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Create a Match</h1>
                    <hr class="small">
                    <span class="subheading">Start fighting.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
<style>
    .timer { color: green;
            background-color: gray;
            border-radius: 5px;
            padding-bottom: 10px;
            padding-left: 10px;
        
    }
    #start {
        color: green;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #stop {
        color: red;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #clear {
        color: gray;
    }
    #ttext {
        color: white;
    }
</style>
<div class = "timer">

<h2 id = "ttext"><time>00:00</time></h2>
<button id="start">start</button>
<button id="stop">stop</button>
</div>
<script>

    $.noConflict();
    jQuery( document ).ready(function( $ ) {
        $("#stop").click(function() {
                $("#dialog").dialog({ width: 'auto' });
                $("#timestamp").val($("#ttext").text());
        });
        $("#addDict").click(function() {
                $("#dialog").dialog("close");
        });
    });
    var matches = new Array ();
    var jsonString = '';

    function addToDictionary() {
        var timestamp = document.getElementById('timestamp').value;
        var exchangeType = document.getElementById('exchangeType').value;
        var fighter1Points = document.getElementById('fighter1Points').value;
        var fighter2Points = document.getElementById('fighter2Points').value;
        
        console.log(timestamp + " " + exchangeType + " " + fighter1Points + " " + fighter2Points);
        matches.push(new Array(timestamp,exchangeType,fighter1Points,fighter2Points));
        
        jsonString = JSON.stringify(matches);
        console.log(jsonString);
        document.getElementById('jsonDict').value = jsonString;
        var timestamp = document.getElementById('timestamp').value = '';
        var exchangeType = document.getElementById('exchangeType').value = '';
        var fighter1Points = document.getElementById('fighter1Points').value = '';
        var fighter2Points = document.getElementById('fighter2Points').value = '';
        
     //   $("#dialog").dialog("close");
    }
    

    
    var h1 = document.getElementsByTagName('h2')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    seconds = 0, minutes = 0, hours = 0,
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
//timer();


/* Start button */
start.onclick = function () {
    timer();
    document.getElementById("ttext").style.color = 'green';
    start.disabled = true;
    stop.disabled = false;
}

/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
    document.getElementById("ttext").style.color = 'red';
    stop.disabled = true;
    start.disabled = false;
}

/* Clear button */

</script>
    <form class="form-horizontal" method='POST' action="/matchCreated">
        <h2>Create a match:</h2>
         <div class="form-group">
            <input type="hidden" name="formType" value="matchForm">
            <input type="hidden" name="matchTourId" value={{tour_id}} />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fighter1">Fighter 1 Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fighter1" placeholder="Fighter 1" maxlength="50" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fighter2">Fighter 2 Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fighter2" placeholder="Fighter 2" maxlength="50" required>
            </div>
        </div>
         
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Tournament Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tournament" placeholder="Tournament Name" required>
            </div>
        </div>
        
        <div class = "form-group">
            <input type = "text" name = "jsonDict" id = "jsonDict" hidden>
        </div>


        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<div id="dialog" title="Enter in match info" hidden>
    
  <p>Timestamp:&nbsp;<input type = "text" id = "timestamp" name = "timestamp" readonly></p>
  <p>Exchange Type:&nbsp;<input type = "text" id = "exchangeType" name = "exchangeType"></p>
  <p>Fighter 1 Points:&nbsp;<input type = "number" id = "fighter1Points" name = "fighter1Points">
  &nbsp;Fighter 2 Points:&nbsp;<input type = "number" id = "fighter2Points" name = "fighter2Points"></p><br>
  <button id = "addDict" onclick = "addToDictionary()">Add Match Info</button>
</div>
{% endblock %}
